* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#header {
  text-align: center;

  h1 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #f9f4da;
  }

  p {
    font-size: 0.875rem;
    max-width: 450px;
    color: #8e8e8e;
  }
}

section.game-status {
  background-color: #10a95b;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f9f4da;
  border-radius: 4px;
  margin-block: 30px;

  h2 {
    font-size: 1.25rem;
    margin-block: 5px;
  }

  p {
    margin: 5px;
  }
}

section.language-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  max-width: 450px;
}

.language-chip {
  border-radius: 3px;
  padding: 4.5px;
}

.quessing-word {
  margin-block: 45px;
  display: flex;
  justify-content: center;
  gap: 3px;

  .letter {
    height: 40px;
    width: 40px;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    border-bottom: 1px solid #f9f4da;
  }
}

section.keybord {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 20px;
  justify-content: center;
  max-width: 450px;

  .keyboard-letter {
    height: 35px;
    width: 35px;
    background-color: #fcba29;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    cursor: pointer;
  }
}

button.new-game {
  background-color: #11b5e5;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  width: 225px;
  height: 40px;
  padding: 6px 12px;
  display: block;
  margin-inline: auto;
  cursor: pointer;
  margin-top: 40px;
}
